body {
    justify-content:space-between;
    display: left;
    background-image: url(../Imagenes/Mateee.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
}
.content {
    background-color: darkkhaki;
}
h1 {
    color: white;
}
h2 {
    display: right;
    color: white;
}
ul { 
    display:list-item;
}
ol {
    display:list-item;
}
li {
    display:list-item;
}
